.css_searchBoxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.css_searchBoxTop {
    padding-top: 30px;
    height: 150px;
}

.searchBox_input {
    border: 2px solid rgb(60, 179, 235);
    min-height: 55px;
    border-radius: 50px;
    padding: 0px 10px;
}


.card {
    height: 370px;
    border-radius: 12px;
    overflow: hidden;
}

.pic {
    height: 270px;
    background-size: cover;
    background-position: top;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dark {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.dark_inside {
    width: 100%;
    max-width: 500px;
    min-height: 180px;
    background-color: white;
    border: 2px solid darkblue;
}

/* .dark_inside img{
    width:100%;
    height: 300px;
    
  } */